<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- locals.title %></title>
    <meta name="description" content="<%- locals.description%>">
    <link rel=" preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Poppins:wght@300;400;500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/dist/output.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
</head>

<body>
    <div class="bg-[#212121] text-white w-full overflow-hidden h-full">
        <%- include('../partials/header.ejs') %>
            <%- body %>
                <%- include('../partials/footer.ejs') %>
    </div>
    <script src="/node_modules/@material-tailwind/html@latest/scripts/ripple.js"></script>
</body>

</html>